[submodule "JSONKit"]
	path = JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "ZUUIRevealController"]
	path = ZUUIRevealController
	url = git://github.com/pkluz/ZUUIRevealController.git
[submodule "MagicalRecord"]
	path = MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
